* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: #e8eaed;
    font-size: 13px;
}

body {
    background-color: #202124;
}


/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: right;
}

.container-header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    position: relative;
}

.svg-container {
    width: 36px;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 6px;
    justify-content: center;
}

.container-header img {
    border-radius: 50%;
    width: 38px;
    height: auto;
    padding: 3px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.svg-container:hover {
    background: #ffffff12;
    cursor: pointer;
}

.container-header img:hover {
    background: #ffffff47;
}


/*HEADER*/


/*MAIN*/

main {
    width: 100%;
    position: relative;
    height: 82.9vh;
}

.container-main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border-radius: 30px;
    border: 1px solid #9aa0a691;
    padding: 10px 12px;
}

.search-bar:hover {
    background-color: #303134;
    box-shadow: 0 1px 6px 0 #171717;
    border-color: rgba(223, 225, 229, 0);
}

.search-bar-focused {
    background-color: #303134;
    box-shadow: 0 1px 6px 0 #171717;
    border-color: rgba(223, 225, 229, 0);
}

.svg-container-search {
    width: 23px;
    height: 23px;
}

.search-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.svg-container-mic {
    width: 23px;
    height: 23px;
}

.logo-google {
    width: 100%;
    display: block;
}

.logo-google img {
    margin: 0px auto;
    width: auto;
    display: block;
}

.container-search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 85%;
    background: transparent;
    border: transparent;
    color: white;
    font-size: 15px;
    padding: 3px 3px;
    font-family: arial, sans-serif;
}

input[type="text"]:focus-visible {
    outline: none;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container-btns-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns a {
    background: #303134;
    border: 1px solid #303134;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    color: #e8eaed;
    text-decoration: none;
    transition: 0.3s all;
}

.btns a:hover {
    border: 1px solid #5b5d63;
}


/*MAIN*/


/*FOOTER*/

footer {
    background: #171717;
    width: 100%;
    height: auto;
    padding: 0px 35px;
}

span {
    color: #999da2;
    font-size: 15px;
}

.country {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.info {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info a {
    font-size: 14px;
    color: #999da2;
}

.col-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.col-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

hr {
    width: 100%;
    border: transparent;
    border-bottom: 1px solid #999da261;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*FOOTER*/


/*APPS*/

.apps-container {
    width: 100%;
    min-width: 330px;
    height: 420px;
    position: absolute;
    top: 60px;
    right: 15px;
    border-radius: 10px;
    background-color: #2d2e30;
    box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 30%), 0 -2px 6px 2px rgb(0 0 0 / 15%);
    overflow: auto;
    z-index: 1;
    display: none;
}

.active {
    display: block;
}

.apps-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    padding: 20px;
    cursor: pointer;
    height: 90px;
    border-radius: 10px;
}

.box-mains-apps {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.apps-box img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.user img {
    border-radius: 50%;
}

.apps-box span {
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
    text-align: center;
}

.apps {
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apps-box:hover {
    background: #1a1a1a4d;
}

.apps-box img:hover {
    background: none;
}

.button-more-apps {
    width: 100%;
    border: 1px solid #ffffff33;
    border-radius: 5px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    justify-content: center;
}

.button-more-apps a {
    color: #8ab4f8;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}

.button-more-apps:hover {
    border-color: #63a7f8;
    background: #63a7f81c;
}

.apps-container::-webkit-scrollbar {
    width: 8px;
}

.apps-container::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.apps-container::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-radius: 30px
}


/*APPS*/


/*MEDIA QUERYS*/

@media screen and (max-width: 1370px),
(max-height: 770px) {
    main {
        height: 81.5vh;
    }
    .search-bar {
        width: 45%;
    }
}

@media screen and (max-width:1000px) {
    .search-bar {
        width: 70%;
    }
    .info {
        flex-wrap: wrap;
        gap: 50px;
        padding: 20px 0;
        height: auto;
    }
    .col-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .col-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
}

@media screen and (max-width:540px) {
    .search-bar {
        width: 90%;
    }
}